/recording/
recording/
/recordings/
__pycache__/
*.pyc
*.pyo
*.mp4
*.zip
*.tar
*.mov

models/*
!models/*.pt
*.bin   
./uploads/*
/video_uploads/
/video_test_inputs/
!/video_test_inputs/.gitkeep
/results/

# Environment variables
.env
.env.local
